
<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Deseja fotografar ou filmar?</h1>
      <hr>
      <p>Com apenas alguns cliques será posivel encontra profissionais altamente qualificados, envie sua necessidade e nos encontraremos profissionais mais proximos a você</p>
      <hr>
      <h2>Veja o passo a passo, é simples!</h2>
      <br><br>
      <div class="row">

        <div class="col-sm-3">
          <div class="steps">
            <p class="step-number"><b>1º</b></p>
          </div><br><br>
          Envie sua necessidade
        </div>

        <div class="col-sm-3">
          <div class="steps">
            <p class="step-number"><b>2º</b></p>
          </div><br><br>
          Receba ofertas
        </div>

        <div class="col-sm-3">
          <div class="steps">
            <p class="step-number"><b>3º</b></p>
          </div><br><br>
          Contato com profissional escolhido
        </div>

        <div class="col-sm-3">
          <div class="steps">
            <p class="step-number"><b>4º</b></p>
          </div><br><br>
          Após serviço concluido, avalie!
        </div>
      </div>

      <a href="#about" class="btn btn-primary btn-xl page-scroll" style="margin-bottom: -164px;">Começar <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
    </div>
  </div>
</header>

<div class="bg-primary form-steps">
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2 class="section-heading text-center">Quem é vc?</h2>
          <hr class="light">
          <div class="row">
            <form action="demands" method="post">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Inoforme seu nome</label>
                  <input type="text" name="name" class="form-control" value="">
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Informe seu email</label>
                  <input type="text" name="name" class="form-control" value="">
                </div>
              </div>

              <div class="col-sm-12">
                <br>
                <h2 class="section-heading text-center">Qual a sua necessidade? <small style="color: white"> quando, como e onde... </small></h2>
                <hr class="light">
                <div class="form-group">
                  <label for="name">Fotografia ou Filmagem?</label>
                  <select class="form-control" name="">
                    <option value="option">Selecione...</option>
                    <option value="option">Fotografia</option>
                    <option value="option">Filmagem</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Tipo do evento</label>
                  <select class="form-control" name="">
                    <option value="option">Selecione...</option>
                    <option value="option">Pessoal</option>
                    <option value="option">Aniversário</option>
                    <option value="option">Casamento</option>
                    <option value="option">Produto</option>
                    <option value="option">Animais</option>
                    <option value="option">Bebes</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Data do evento</label>
                  <input type="text" name="name" class="form-control" id="teste">
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Estado</label>
                  <select class="form-control" name="">
                    <option value="option">Selecione...</option>
                    <option value="option">Pessoal</option>
                    <option value="option">Aniversário</option>
                    <option value="option">Casamento</option>
                    <option value="option">Produto</option>
                    <option value="option">Animais</option>
                    <option value="option">Bebes</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Cidade</label>
                  <select class="form-control" name="">
                    <option value="option">Selecione...</option>
                    <option value="option">Pessoal</option>
                    <option value="option">Aniversário</option>
                    <option value="option">Casamento</option>
                    <option value="option">Produto</option>
                    <option value="option">Animais</option>
                    <option value="option">Bebes</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Descrição do local do evento</label>
                  <textarea name="name" class="form-control" rows="4" cols="80"></textarea>
                </div>
              </div>

              <div class="col-lg-12 text-center" style="margin-top: 20px">
                <button class="btn btn-default btn-xl">Enviar <i class="fa fa-arrow-right text-primary sr-icons"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <aside class="bg-dark">
    <div class="container text-center">
      <div class="call-to-action">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Quem somos?</h2>
            <hr class="primary">
            <p>a Bukô é uma statup que conecta profissionais de foto e filmagem a pessoas interessadas em guardar as melhores momentos de sua vida!</p>
          </div>

          <div class="col-lg-12  text-center">
            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
            <p><a href="mailto:your-email@your-domain.com">atendimento@buko.com.br</a></p>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
