<style media="screen">
header {
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('assets/header_professionals.jpg');
  text-align: center;
  color: white;
}
.form-group {
  text-align: left;
}
</style>
<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Quem ganhar um dinheiro a mais?</h1>
      <p>Cadastre-se e receba ofertas de trabalha, experimente a forma mais rapida de encontrar clientes. </p>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="form-group">
            <label for="name">Inoforme seu nome</label>
            <input type="text" name="name" class="form-control" value="">
          </div>
        </div>

        <div class="col-sm-8 col-sm-offset-2">
          <div class="form-group">
            <label for="name">Informe seu email</label>
            <input type="text" name="name" class="form-control" value="">
          </div>
        </div>

        <div class="col-sm-8 col-sm-offset-2">
          <div class="form-group">
            <label for="name">Inoforme seu nome</label>
            <input type="text" name="name" class="form-control" value="">
          </div>
        </div>

        <div class="col-sm-8 col-sm-offset-2">
          <div class="form-group">
            <label for="name">Informe seu email</label>
            <input type="text" name="name" class="form-control" value="">
          </div>
        </div>
      </div>

      <a href="#about" class="btn btn-primary btn-xl page-scroll" style="margin-bottom: -164px;">Cadastrar <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
    </div>
  </div>
</header>

  <aside class="bg-dark">
    <div class="container text-center">
      <div class="call-to-action">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Quem somos?</h2>
            <hr class="primary">
            <p>a Bukô é uma statup que conecta profissionais de foto e filmagem a pessoas interessadas em guardar as melhores momentos de sua vida!</p>
          </div>

          <div class="col-lg-12  text-center">
            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
            <p><a href="mailto:your-email@your-domain.com">atendimento@buko.com.br</a></p>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
