<style media="screen">
header {
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('assets/header_professionals.jpg');
  text-align: center;
  color: white;
}
.form-group {
  text-align: left;
}
.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #222222;
    background-color: rgba(255, 255, 255, 0.52);
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
}


</style>
<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Quer ganhar um dinheiro a mais?</h1>
      <p>Cadastre-se e receba ofertas de trabalho, experimente a forma mais rapida de encontrar clientes. </p>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="form-group">
            <label for="name">Informe seu nome</label>
            <input type="text" name="name" class="form-control" value="">
          </div>
        </div>

        <div class="col-sm-10 col-sm-offset-1">
          <div class="form-group">
            <label for="name">Informe seu email</label>
            <input type="text" name="name" class="form-control" value="">
          </div>
        </div>

        <div class="col-sm-5 col-sm-offset-1">
          <div class="form-group">
            <label for="name">Digite uma senha</label>
            <input type="text" name="name" class="form-control" value="">
          </div>
        </div>

        <div class="col-sm-5">
          <div class="form-group">
            <label for="name">Repita a senha</label>
            <input type="text" name="name" class="form-control" value="">
          </div>
        </div>
      </div>

      <a href="#about" class="btn btn-primary btn-xl page-scroll" style="margin-bottom: -52px;">Cadastrar <i class="fa fa-arrow-right"></i></a>
    </div>
  </div>
</header>
</div>
