<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bukô!</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Custom Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<style media="screen">
body {
  background-color: #222;
}
.steps {
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  display: inline-block;
}

.step-number {
  font-size: 50px !important;
  padding: 3px 14px;
}
.professional {
    color: #f05f40 !important;
}
</style>
<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>

        <a class="navbar-brand page-scroll" href="/">Bukô | <small>Fotográfia e Filmagens</small></a>
        <ul class="nav navbar-nav navbar">
          <li>
            <a class="professional" href="#" style="margin-left: 105px;">Lista de profissionais <i class="fa fa-search text-primary"></i></a>
          </li>
        </ul>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="" href="#">Login &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <i class="fa fa-ellipsis-v text-primary"></i></a>
          </li>
          <li>
            <a class="professional" href="freelancers">Para Freelancers &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <i class="fa fa-ellipsis-v text-primary"></i></a>
          </li>
          <li>
            <a class="professional" href="#">Para Empresas</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <%= yield %>

    <!-- <aside class="bg-dark">
      <div class="container">
        <div class="call-to-action">
          <div class="row">
            <div class="col-lg-6 text-center">
              <h2 class="section-heading">Quem somos?</h2>
              <hr class="primary">
              <p>a Bukô é uma statup que conecta profissionais de foto e filmagem a pessoas interessadas em guardar as melhores momentos de sua vida!</p>
            </div>
            <div class="col-lg-12">
              <hr>

              <p><i class="fa fa-envelope-o sr-contact"></i> <a href="mailto:your-email@your-domain.com">atendimento@buko.com.br</a></p>
            </div>
          </div>
        </div>
      </div>
    </aside> -->

    <aside class="bg-dark">
      <div class="container">
        <div class="call-to-action">
          <div class="row">
            <a class="navbar-brand page-scroll" href="/">Bukô | <small>Fotográfia e Filmagens</small></a>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <i class="fa fa-copyright text-primary"></i> 2017 Bukô &nbsp&nbsp&nbsp <i class="fa fa-ellipsis-v text-primary"></i> &nbsp&nbsp&nbsp
              Quem somos &nbsp&nbsp&nbsp <i class="fa fa-ellipsis-v text-primary"></i> &nbsp&nbsp&nbsp
              Termos de Uso &nbsp&nbsp&nbsp <i class="fa fa-ellipsis-v text-primary"></i> &nbsp&nbsp&nbsp
              Política de Privacidade &nbsp&nbsp&nbsp <i class="fa fa-ellipsis-v text-primary"></i> &nbsp&nbsp&nbsp
              Atendimento
            </div>
            <div class="col-lg-5 text-right">
              <i class="fa fa-2x fa-facebook"></i>&nbsp&nbsp&nbsp <i class="fa fa-ellipsis-v text-primary"></i> &nbsp&nbsp&nbsp
              <i class="fa fa-2x fa-instagram"></i>&nbsp&nbsp&nbsp <i class="fa fa-ellipsis-v text-primary"></i> &nbsp&nbsp&nbsp
              <i class="fa fa-2x fa-twitter"></i>&nbsp&nbsp&nbsp <i class="fa fa-ellipsis-v text-primary"></i> &nbsp&nbsp&nbsp
              <i class="fa fa-2x fa-pinterest"></i>&nbsp&nbsp&nbsp
            </div>
          </div>
        </div>
      </div>
    </aside>
  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="assets/scrollreveal.min.js"></script>
  <script src="assets/jquery.magnific-popup.min.js"></script>

  <!-- Theme JavaScript -->
  <script src="assets/creative.js"></script>
</body>
</html>
